.account-items {
    display: flex;
    padding: 9px 16px;
    cursor: pointer;
    align-items: center;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.account-image {
    height: 41px;
    width: 41px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
.account-name {
    text-align: left;
    margin: 0px;
}
.check-icon {
    //background: rgb(32, 213, 236);
    color: rgb(32, 213, 236);
    margin-left: 8px;
}

.account-lable {
    text-align: left;
    margin: 0px;
    padding: 0px;
}
