.wrapper {
    width: 100%;
    min-height: 1200px;
    //background-color: aqua;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    //align-items: center;
}
.container {
    width: 100%;
    min-height: 1200px;
    //background-color: brown;
    display: flex;
}
.content {
    //flex:1 == width phần còn lại
    //flex: 1;
    width: 1192px;
    min-height: 100%;
    //background-color: cornflowerblue;
}
